.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.left-block div {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dotted grey;
}

.right-block {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
}

.left-block {
  width: 610px;
}

.left-block .column {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.menu-btn {
  width: 150px;
  background: transparent;
  margin: 3%;
  border: 1px solid black;
  border-radius: 7px;
}

.list {
  margin: 20px 0;
}

.list span {
  margin: 0 10px;
}